Source: dh-dotnet-lab50
Section: devel
Priority: optional
Maintainer: Лаборатория 50 <team@lab50.net>
Build-Depends: debhelper (>= 10), perl
Standards-Version: 4.2.1
Homepage: http://lab50.net
Vcs-Git: https://gitlab.com/lab50/netcore/dh-dotnet.git
Vcs-Browser: https://gitlab.com/lab50/netcore/dh-dotnet

Package: dh-dotnet-lab50
Architecture: all
Multi-Arch: foreign
Depends: debhelper (>= 10), libfile-find-rule-perl,
 ${misc:Depends}, ${perl:Depends}
Description: сборочная система .Net Core проектов
 Пакет содержит модуль сборочной системы для Debhelper. Применяется
 для проектов, использующих .Net Core SDK.
