Source: dh-dotnet-lab50
Section: devel
Priority: optional
Maintainer: Лаборатория 50 <team@lab50.net>
Build-Depends: debhelper-compat (= 13), perl:any
Standards-Version: 4.2.1
Homepage: http://lab50.net
Vcs-Git: https://github.com/laboratory50/debhelper-dotnet.git
Vcs-Browser: https://github.com/laboratory50/debhelper-dotnet

Package: dh-dotnet-lab50
Architecture: all
Provides: dh-sequence-dotnet
Depends: debhelper (>= 13),
 libfile-find-rule-perl,
 libjson-perl,
 libarchive-zip-perl,
 libarchive-extract-perl,
 libdigest-sha-perl,
 libxml-libxml-perl,
 mono-host-8.0 | dotnet-host-8.0,
 mono-runtime-8.0 | dotnet-runtime-8.0,
 ${misc:Depends}, ${perl:Depends}
Description: сборочная система .Net проектов
 Пакет содержит модуль сборочной системы для Debhelper. Применяется
 для проектов, использующих .Net SDK.
